<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>mujisayed.com / Offline</title>

<link rel="stylesheet" href="../css/styles.css">
</head>

<body>

<div id="bgpic">
	<div id="overlay">
		<div class="container">
			<h1>
				<span>The Servers have either become sentient</span><br/>
				and decided to go to lunch
			</h1>
			<p><b> or </b></p>
			<h2>The site is currently offline but I <strong>PROMISE</strong> to get working on it ASAP!</h2>
		</div>
	</div>
</div>

</body>

</html>
